# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints (auto-saved notebook states)
.ipynb_checkpoints/

# Editor and IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Don't include any data files
*.zarr
*.zip